.img_box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.img_user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;

  width: 32px;
}

.informationBox {
  width: 200px;
  height: 200px;
  background: aqua;
  border-radius: 10px;
  transform: translate(600px);
}
.informationBox--hide {
  transform: translate(0px);
  transform: translateY(2px);
}